<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<form class="text-center" action="" method="post" style="margin: 20%">
    <input class="btn btn-outline-primary" type="submit" name="direzione" value="right" />
    <input class="btn btn-outline-primary" type="submit" name="direzione" value="left" />
    <input class="btn btn-outline-primary" type="submit" name="direzione" value="forward" />
    <input class="btn btn-outline-primary" type="submit" name="direzione" value="backward" />
    <input class="btn btn-outline-primary" type="submit" name="direzione" value="stop" />
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>